:root {
  --blue: #157ec7;
  --black2: #121213;
  --black: #1b1c1e;
  --text-color:  color: rgb(18, 18, 19);
}

.test{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#menu{
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

body {
  background-color: #f8fafc;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  text-decoration: none;
  font-family: "Poppins";
  box-sizing: border-box;
  list-style: none;
}

.itemlogo {
width: 10rem;
height: 100%;
display: flex;
align-items: center;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: #fff;
  width: 100%;
  height: 6rem;
}

.nav-right {
  display: flex;
  gap: 4rem;
  align-items: center;
  font-weight: 800;
}
.nav-right a{
  color: #000000;
}
.item {
  position: relative;
  font-size: small;
  animation-duration: 5s;
  font-size: 15px;
  color: aliceblue;
}
.item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background-color: var(--blue);
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.item:hover::after {
  transform: scaleX(1);
}

.btn {
  width: 10rem;
  padding: 1rem;
  background-color: var(--blue);
  font-size: 1rem;
  border: 1px solid #fff;
  border-radius: 3rem;
  font-weight: 600;
  transition: ease all 0.5s;
  color: #fff;
}
.btn:hover {
  background-color: #fff;
  color: var(--blue);
}

/*! PARALLAX */

.xd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  width: 100%;
  background-image: url(v.jpg);
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.xd h2 {
  text-align: center;
  color: #fff;
}

/* ! 2ND CONTENT */

.about{
  background-color: #f6f1f1;
  display: flex;
  grid-template-columns: repeat(2,1fr);
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  /* grid-gap: 5rem;
  height: 40vh;
  padding: 3rem; */
}
.about-ft{
width: 50%;
padding: 3rem;
}
.about-img{
padding: 3rem;
}

/* ! 3RD CONTENT */
.empreendimentos {
  padding: 2rem;
  text-align: center;
}
.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  grid-gap: 0.5rem;
  align-items: center;
}

.box {
  position: relative;
  margin-top: 1rem;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  height: 20rem;
}

/* ! 4TH CONTENT */

.footer {
  color: #fff;
  width: 100%;
  height: 25vh;
}
.footer a{
  color: #fff;
}

.footer-contents {
  background-color: #1b1c1e;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 3rem 2rem;
  gap: 3rem;
}

.footer-social-link{
  display: flex;
  gap: 2rem;
}
.footer-link{
  transition: all ease 0.5s;
}
.list{
  display: flex;
  gap: 1rem;
  align-items: center;

}
.footer-link:hover{
  color: var(--blue);
}
.footer-social{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.footer-social-link i{
  font-size: 1.5rem;
}
 h3{
  font-size: 1.5rem;
  font-weight: 500;
 }
.footer-list{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-right: auto;
  margin-left: auto;
}
ul{
  padding: 0;
}

.copyright{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--black2); 
}

.h3{
  display: flex;
  align-items: center;
}
.itemlogo2{
width: 100%;
height: 100%;
}
.footer-about{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
 
}
@media screen and (max-width: 468px){
  .footer-contents{
    grid-template-columns: repeat(1,1fr);
  }
  .footer-about, .footer-list, .copyright, .footer-social{
    display: flex;
    align-items: center;
    text-align: center;
  }
  .test{
    max-width: 468px;
  }
}
@media (max-width: 640px){
  .test{
    max-width: 640px;
  }
}
@media screen and (max-width: 768px){
  .footer-contents{
    grid-template-columns: repeat(2,1fr);
  }
  .test{
    max-width: 768px;
  }
}


@media screen and (max-width: 1080px){
  .nav-right{
    display: none;
  }
  #menu{
    display: initial;
    color: var(--blue);
  }
  .container{
    padding: 1rem;
  }
  .about{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    grid-gap: 3rem;
    align-items: center;
  }
  .about-ft, .about-img{

  }
  .xd{
    height: vh;
  }
  .test{
    max-width: 1080px;
  }
}

@media (max-width: 1280px){
  .test{
    max-width: 1280px;
  }
}


@media (max-width: 1536px){
  .test{
    max-width: 1536px;
  }
}